@model ProyectoPrograAvanzada2023.Models2.TAB_TAGS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TAB_TAGS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TAGS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAGS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TAGS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
